<template>
  <div>
    <div class="container">
      <div class="d-flex justify-content-center mt-3 p-2">
        <b-card class="col-md-6 shadow-lg">
          <div>
            <div class="d-flex justify-content-between">
              <h2>Search Game 🔍</h2>
              <span class="text-muted pt-2"
                >{{ gameList.length || 0 }} games found</span
              >
            </div>
          </div>
          <b-form @submit.prevent="searchGame(search)">
            <b-form-group>
              <b-form-input
                v-model="search"
                placeholder="Search game"
                autocomplete="off"
                maxlength="40"
                minlength="3"
                required
              />
            </b-form-group>
            <b-form-group>
              <div class="d-flex">
                <b-button
                  type="button"
                  @click="sortGames('HIGH')"
                  variant="warning"
                  >High to low</b-button
                >
                <b-button
                  type="button"
                  @click="sortGames('LOW')"
                  class="ml-2"
                  variant="success"
                  >Low to high</b-button
                >
              </div>
            </b-form-group>
          </b-form>
        </b-card>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["sortGames", "searchGame", "gameList"],
  data() {
    return {
      search: "",
    };
  },
};
</script>
