<template>
  <div>
    <search-form
      :sortGames="sortGames"
      :searchGame="searchGame"
      :gameList="gameList"
    />
    <div class="container mt-3">
      <b-overlay
        :show="isLoading"
        rounded="lg"
        class="d-inline-block w-100 text-center"
      >
        <template #overlay>
          <div class="d-flex align-items-center">
            <b-spinner small type="grow" variant="secondary"></b-spinner>
            <b-spinner type="grow" variant="dark"></b-spinner>
            <b-spinner small type="grow" variant="secondary"></b-spinner>
            <span class="sr-only">Please wait...</span>
          </div>
        </template>
        <div
          class="d-flex text-align-center h3 p-3"
          v-if="gameList.length == 0"
        >
          Game not found!
        </div>

        <div class="row game-list">
          <template v-for="item in gameList">
            <div class="col-md-4 mb-2" :key="item.gameID">
              <b-card
                :img-src="item.thumb"
                :img-alt="item.external"
                img-top
                tag="article"
                class="mb-2 p-1 shadow-lg shadow-dark"
              >
                <b-card-title class="d-flex justify-content-between">
                  <span class="h4" v-text="item.external"> </span>
                  <span class="fw-bold" v-text="item.cheapest + '🔥'"> </span>
                </b-card-title>
              </b-card>
            </div>
          </template>
        </div>
      </b-overlay>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "IndexPage",

  data() {
    return {
      isLoading: false,
      search: "",
      gameList: [],
    };
  },

  beforeMount() {
    this.searchGame('gta')
  },

  methods: {
    async searchGame(game) {
      try {
        if (game.length < 3 || game.length > 8) return;
        this.isLoading = true;
        let { data } = await axios.get(
          `https://www.cheapshark.com/api/1.0/games?title=${game}&limit=60&exact=0`
        );
        this.gameList = data;
      } catch (error) {
        console.log(error);
      } finally {
        this.isLoading = false;
      }
    },
    sortGames(type) {
      if (type == "HIGH") {
        this.gameList.sort((a, b) => {
          return b.cheapest - a.cheapest;
        });
      } else {
        this.gameList.sort((a, b) => {
          return a.cheapest - b.cheapest;
        });
      }
    },
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
body {
  font-family: "DM Serif Display", serif;
}

.game-list {
  .card {
    transition: all 500ms;
    position: relative;
    overflow: hidden;

    &:after {
      transition: all 500ms;
      width: 100%;
      height: 0.5rem;
      content: "";
      background: black;
      display: block;
      position: absolute;
      bottom: -0.5rem;
      left: 0;
    }

    &:hover {
      &:after {
        bottom: 0;
        box-shadow: -1rem 0 1rem black;
      }
    }
    .card-img-top {
      height: calc(10vw + 25px);
    }
  }
}
</style>
